In [71]:
import csv
from enum import Enum 
from typing import List

In [72]:
class PlaceType(Enum):
    study="STUDY"
    classroom="CLASSROOM"
    dining="DINING"

class Place(object):
    def __init__(self, nodeId: int, place_type: PlaceType):
        self.nodeId = nodeId
        self.place_type = place_type

    def sql_insert(self) -> str:
        return f'''INSERT INTO public."Place"(
                    "NodeID", "PlaceType")
                    VALUES ({self.nodeId}, '{self.place_type.value}');'''

In [73]:
places: List[Place] = []

with open('classroom-dining-study.csv') as csvfile:
    node_classification_reader = csv.reader(csvfile, delimiter=',')

    next(node_classification_reader)
    
    for row in node_classification_reader:
        nodeId = row[0]
        place_type_raw = row[1].strip()
        
        parsedPlace = Place(int(nodeId), PlaceType[place_type_raw])
        places.append(parsedPlace)

In [74]:
for place in places:
    print(place.sql_insert())

INSERT INTO public."Place"(
                    "NodeID", "PlaceType")
                    VALUES (31, 'DINING');
INSERT INTO public."Place"(
                    "NodeID", "PlaceType")
                    VALUES (53, 'DINING');
INSERT INTO public."Place"(
                    "NodeID", "PlaceType")
                    VALUES (105, 'STUDY');
INSERT INTO public."Place"(
                    "NodeID", "PlaceType")
                    VALUES (45, 'CLASSROOM');
INSERT INTO public."Place"(
                    "NodeID", "PlaceType")
                    VALUES (33, 'CLASSROOM');